%h1
  failcascade
  %i.icon-sort-by-attributes-alt
%p.lead
  Because failure is inevitable, and those other guys absolutely deserve it.

%h4
  Why does this exist?
%p
  Because people like to speculate. And when they speculate, they illustrate their point by drawing crude red lines over
  = link_to 'DOTLAN', "http://evemaps.dotlan.net/", target: '_blank'
  graphs. Wouldn't it be nice if someone had already drawn the lines for them? Pretty lines, with exact numbers and dates. Just add smack talk.

%h4
  Where do you get the data?
%p
  EVE Online is often called 'spreadsheets in space', and CCP has provided community with necessary tools to make this notion a reality. Every day at downtime information about current alliance membership is pulled from the API and added to the data bank. Then a group of the brightest analytical minds of our generation takes over, carefully considers every involved factor and comes up with impeccable predictions. Okay, the best and the brightest are otherwise preoccupied, so we have to make do with analytical software.

%h4
  Who are you anyway?
%p
  I'm
  = link_to 'Slvrsmth', 'https://gate.eveonline.com/Profile/Slvrsmth/', target: '_blank'
  in game. Send me a mail.

%hr
%p
  EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. CCP hf. has granted permission to failcascade to use EVE Online and all associated logos and designs for promotional and information purposes on its website but does not endorse, and is not in any way affiliated with, failcascade. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.

%hr
  %p
    This site uses Font Awesome by Dave Gandy -
    = link_to 'http://fontawesome.io', 'http://fontawesome.io', target: '_blank'
