.jumbotron.text-center
  %h1
    Failure is inevitable.
  %p.lead
    All EVE Online alliances crumble. Some sooner than others.
    %br
    Have you ever wondered when will this particular one go?
  %form#main-search{ action: alliances_path, method: :get }
    .row
      .input-group.input-group-lg.col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
        %input.form-control.input-lg{ type: 'text', name: 'term', placeholder: 'Stop guessing, find out!'}
        %span.input-group-addon
          %i.icon-search
%hr
.text-center
  .row
    .col-md-4.col-sm-4
      = link_to top_list_alliances_path do
        %i.icon-group.icon-4x
        %h4 Top 10 alliances
    .col-md-4.col-sm-4
      = link_to growing_alliances_path do
        %i.icon-rocket.icon-4x
        %h4 Fastest growers
    .col-md-4.col-sm-4
      = link_to collapsing_alliances_path do
        %i.icon-calendar.icon-4x
        %h4 Next collapses
