%h1
  failcascade
  %small
    is
    = @alliances.sample.ticker
    dead yet?

.row
  .col-md-2.col-sm-3
    %dl#top-alliances
      - @alliances.each_with_index do |alliance, index|
        %dt{ data: { index: index } }
          = link_to alliance.name, alliance_path(ticker: alliance.ticker)
        %dd
          = alliance.current_member_count
  .col-md-10.col-sm-9
    #top-alliance-chart.chart{ data: { series: @alliances.map{ |alliance| { name: alliance.ticker, data: alliance.chart_data(:combined_member_count) } }.to_json } }
