%h2
  Alliances
- unless params[:term].to_s.blank?
  %p.lead
    Searching for
    = "'#{params[:term]}'"
    - if @alliances.empty?
      returned no matches.

= render 'list', alliances: @alliances, display: :current_member_count
